
body {
    font: 16px/18px "Roboto", "Verdana", sans-serif;
    background-color: $main-color;
    color: $light-accent;
}

.container {
    padding: 0 1em;
    text-align: center;
    @include flexCenter(center, column);
}

h1 {
    color: $main-color;
}


h2 {
    background-color: $main-color;
    color: $light-accent;
    padding: .5em 1em;
    margin: 0 0 1em 0;
    min-width: 10em;
    font-size: 2em;
}

@media (max-width: 768px){
    h2 {
        font-size: 1.4em;

    }
}

h3 {
    color: whitesmoke;
    padding: .5em 1em;
    text-transform: uppercase;
}

textarea {
    background-color: $main-lighter;
    font: inherit;
    color: $light-accent;
    padding: 1em;
    margin: 0;
    overflow: hidden;   
    border: none;
    outline: none;
    resize: vertical;

}

a {
    color: $light-accent;
    font-size: 1.5em;
    margin: .5em;
}