@mixin flexCenter ($spacing, $direction ){
    display: flex;
    align-items: center;
    align-content: center;

    justify-content: $spacing;
    flex-direction: $direction;
}

@mixin roundedBorders {
    border: none;
    outline: none;
    border-radius: 5px;
    overflow: hidden;
}

@mixin boxShadow {
    box-shadow: -3px -3px 6px 0px rgba(255,255,255,0.2), 4px 4px 7px 0px rgba(0, 0, 0, 0.4);
    
}