.navbar {
    @include flexCenter(space-around, row);
    margin: 0 2em;
    background-color: $main-color;
    border-bottom: 1px solid rgba($light-accent, .5);
}

.nav-links{
    @include flexCenter(space-around, row);
}

.nav-link {
    @include flexCenter(space-around, row);
    padding: .5em 0;
    margin: 0 1em;
    p{
        font-size: 20px;
        margin: 0 .3em;
        text-transform: uppercase;
    }
}



.nav-link:hover {
    
    color: whitesmoke;
}


@media (max-width: 600px){
    .nav-links {
        @include flexCenter(space-between, row);
    }
}