.editor{
    @include flexCenter(center, column);
    
    width: 500px;

    .story-title::placeholder{
        color: $light-accent;
    }
}


.editor-2 {
    @include flexCenter(center, column);
    @include boxShadow();
}


.write-story {
    @include flexCenter(center, column);

    color: $dark-accent;
    background-color: $light-accent;

    border-radius: 0;
    margin: 0;
    width: 500px;

}

.story-title {
    margin: 0;
    resize: none;
    width: 500px;

}